body {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    background-color: #101721;
}

.container{
    height: 550px;
    width: 550px;
    background-color: #4b5563;
    margin-top:  64px;
    padding: 0;
    border: 10px solid #0c4a6e;
    border-radius: 20px;
}
.center{
    margin: 0 52px;
}

h1{
    margin: 115px 0 10px 0;
    width: 358px;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: 800;

}
p{
    margin: 0;
}


button{
    background-color: #8b5cf6;
    color: #ffffff;
    height: 42px;
    width: 191px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    margin: 15px 0 35px 0;
}
.line{
    border-bottom: 1px solid #374151 ;
    margin:0;
    width: 446px;
}

.passwords{
    display: flex;
    width: 446px;
    justify-content: space-between;
    margin-top: 35px;
}
.passSpace{
    background-color: #374151;
    width: 180px;
    height: 32px;
    border-radius: 6px;
    padding: 4px 16px 4px 16px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.greentext{
    color: #8b5cf6;
}

.passwordSettings{
    margin: 20px 0;
    font-size: 12px;
}

input{
    background-color: #374151;
    color:#8b5cf6;
    border: 1px solid #ffffff;
}

.length{
    margin: 0 0 10px 0;
}
